{% extends 'layout_base.html' %}

{% block title %}
Servidor em Período Probatório
{% endblock %}


{% block content %}

<style xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    .layout_txt, .form-control:disabled, .form-control[readonly]{
       background:#fbfcff;
    }





</style>

<section class="vh-100">
    <div class="container-fluid h-custom">
        <h4>


    Servidor em Estágio Probatório

        </h4>
        <div class="row d-flex justify-content align-items-center h-100">
            {% if msg %}
            <div class="alert alert-warning">
                {{msg}}
            </div>
            {% endif %}
            <div class="row">

                <div class="col-12 alert alert-secondary">
                    <div><strong>Avaliado: </strong><span>{{funcionario.nome }} - {{funcionario.matricula }}</span>
                    </div>
                    <div><strong>Cargo: </strong><span>{{funcionario.cargo_efetivo }}</span></div>
                    <div><strong>Depto: </strong><span>{{funcionario.depto }}</span> <strong>Função: </strong><span>{{funcionario.funcao }}</span>
                    </div>

                </div>
            </div>
            <div class="d-flex flex-row-reverse justify-content-center">
                {%if funcionario.ativo %}<a href="{% url 'cad_avaliacao' funcionario.id %}"
                                            class="btn btn-success btn-lg"><i class="far fa-edit"></i>&nbsp;Realizar avaliação</a>{%endif%}


            </div>
            <div class="container">
                <h4 class="mt-5 mb-3">Avaliações</h4>
                {% if funcionario.avaliacao.all %}

                <table class="table table-striped w-75">
                    <thead>
                        <tr>
                            <th class="w-10">Data da avaliação</th>
                            <th class="w-10">Avaliador</th>

                            <th>Período / Média</th>
                        <th class="w-10">
                            Referência
                        </th>

                        </tr>

                    </thead>
                    {% for avaliacao in funcionario.avaliacao.all|dictsort:"periodo" %}

                    {%if usuario.profile.tipo == 'Comissão' %}

                    <tr>
                        <td>
                            {{avaliacao.data | date:'d M y'}}
                        </td>
                        <td>
                        {%if avaliacao.tipo_avaliador == "Próprio" %}
                            Autoavaliação
                        {%else%}
                            {{avaliacao.tipo_avaliador}}
                        {%endif%}
                        </td>
                        <td>
                            <strong>{{avaliacao.periodo_avaliado}}º</strong> <span class="badge bg-secondary">
                            {{avaliacao.media|floatformat:1}}</span>
                        </td>
                        <td>
                            <a class="nav-link" href="{% url 'resumo_avaliacao'  avaliacao.id%}">{{avaliacao.periodo}}</a>
                        </td>


                    </tr>
                    {% elif usuario.profile.tipo == 'Colega' %}
                        {% if avaliacao.tipo_avaliador == 'Próprio' and usuario.profile.nome == funcionario.nome %}
    <tr>
                            <td>
                                {{avaliacao.data | date:'d M y'}}
                            </td>
                            <td>
                                {{avaliacao.tipo_avaliador}}
                            </td>
                            <td>
                                <strong>{{avaliacao.periodo_avaliado}}º</strong> <span class="badge bg-secondary">
                                {{avaliacao.media|floatformat:1}}</span>
                            </td>
                            <td>
                                <a class="nav-link" href="{% url 'resumo_avaliacao'  avaliacao.id%}">
                                    {{avaliacao.periodo}}</a>
                            </td>


                        </tr>
                        {%endif%}
                    {%elif avaliacao.tipo_avaliador == 'Chefe Imediato'%}
                    <tr>
                        <td>
                            {{avaliacao.data | date:'d M y'}}
                        </td>
                        <td>
                            {{avaliacao.tipo_avaliador}}
                        </td>
                        <td>
                            <strong>{{avaliacao.periodo_avaliado}}º</strong> <span class="badge bg-secondary">
                            {{avaliacao.media|floatformat:1}}</span>
                        </td>
                        <td>
                            <a class="nav-link" href="{% url 'resumo_avaliacao'  avaliacao.id%}">{{avaliacao.periodo}}</a>
                        </td>


                    </tr>
                    {%endif%}
                    {%endfor%}
                </table>
                {%else%}
                    <div class="alert alert-secondary">Nenhuma avaliação realizada</div>
                {%endif%}
            </div>
        </div>
    </div>

</section>

{% endblock %}
<script>


</script>

