{% extends 'layout_base.html' %}

{% block title %}
Registrar Avaliação
{% endblock %}
{% block header %}
Registrar Avaliação
{% endblock %}


{% block content %}

<style>
    .layout_txt{
        background: #fff !important;
        border: none;
    }

    textarea {
        resize:none;
    }


</style>
<form name="form_cad_avaliacao" method="post" id="form_cad_contrato">
    {% csrf_token %}
    {% if msg %}
    <div class="alert alert-warning">{{ msg}}</div>
    {% endif %}
<!--    {{form.as_p}}-->



    <h4>1. Assiduidade Pontualidade</h4>
    <div class="row">
        <div class="col-10"><input name="txt_criterio1" class="form-control layout_txt" value="1 - Comparece regularmente ao trabalho" disabled />
        </div>
        <div class="col-2"><select name="pt_criterio1" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>


    <div class="row">
        <div class="col-10"><input name="txt_criterio2" class="form-control layout_txt" value="2 - É pontual no horário e permanece no local de trabalho durante o expediente
" disabled>
        </div>
        <div class="col-2"><select name="pt_criterio2" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>

    <div class="row">
        <div class="col-10"><input name="txt_criterio3" class="form-control layout_txt" value="3 - Cumpre o horário de trabalho
" disabled>
        </div>
        <div class="col-2"><select name="pt_criterio3" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>

    <div class="row">
        <div class="col-10"><input name="txt_criterio4" class="form-control layout_txt" value="4-Informa, em tempo hábil, imprevistos que impeçam o seu comparecimento ou
cumprimento do horário" disabled>
        </div>
        <div class="col-2"><select name="pt_criterio4" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>



    <h4>2. Disciplina</h4>
    <div class="row">
        <div class="col-10"><input name="txt_criterio5" class="form-control layout_txt" value="1-Exerce com zelo e dedicação as atribuições legais e regulamentares
inerentes ao cargo\função."  disabled>
        </div>
        <div class="col-2"><select name="pt_criterio5" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>


    <div class="row">
        <div class="col-10"><input name="txt_criterio6" class="form-control layout_txt" value="2 - É pontual no horário e permanece no local de trabalho durante o expediente
" disabled>
        </div>
        <div class="col-2"><select name="pt_criterio6" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>

    <div class="row">
        <div class="col-10"><input name="txt_criterio7" class="form-control layout_txt" value="3 - Cumpre o horário de trabalho
" disabled>
        </div>
        <div class="col-2"><select name="pt_criterio7" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>

    <div class="row">
        <div class="col-10"><input name="txt_criterio8" class="form-control layout_txt" value="4-Informa, em tempo hábil, imprevistos que impeçam o seu comparecimento ou
cumprimento do horário" disabled>
        </div>
        <div class="col-2"><select name="pt_criterio8" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>

    <h4>3. Capacidade de Iniciativa</h4>
    <div class="row">
        <div class="col-10"><input name="txt_criterio9" class="form-control layout_txt" value="1-Procura conhecer a Instituição, inteirando-se da sua estrutura e
funcionamento, legislação, instruções, normas, manuais, etc"  disabled>
        </div>
        <div class="col-2"><select name="pt_criterio9" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>


    <div class="row">
        <div class="col-10"><textarea rows="4" name="txt_criterio10" class="form-control layout_txt" disabled>2-Procura se atualizar no que diz respeito às suas atribuições e função para os
quais foi designado(a), participando de cursos / palestras ofertados pela instituição ou sugerindo outros que forneçam melhorias nas atividades da instituição.</textarea>
        </div>
        <div class="col-2"><select name="pt_criterio10" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>

    <div class="row">
        <div class="col-10"><input name="txt_criterio11" class="form-control layout_txt" value="3-É capaz de encontrar soluções que se adequem ao problema do modo que atenda\supere as necessidades\expectativas do setor" disabled>
        </div>
        <div class="col-2"><select name="pt_criterio11" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>

    <div class="row">
        <div class="col-10"><input name="txt_criterio12" class="form-control layout_txt" value="4-Encaminha correta e adequadamente os assuntos que fogem à sua alçada decisória/funcional" disabled>
        </div>
        <div class="col-2"><select name="pt_criterio12" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>

        <div class="row">
        <div class="col-10"><input name="txt_criterio13" class="form-control layout_txt" value="5-Põe-se à disposição espontaneamente da administração aprender outros serviços e auxiliar colegas, respeitando suas atribuições legais." disabled>
        </div>
        <div class="col-2"><select name="pt_criterio13" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>

    <h4>4. Produtividade</h4>
    <div class="row">
        <div class="col-10"><input name="txt_criterio14" class="form-control layout_txt" value="1-Planeja e organiza as tarefas, observando as prioridades."  disabled>
        </div>
        <div class="col-2"><select name="pt_criterio14" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>


    <div class="row">
        <div class="col-10"><textarea rows="2" name="txt_criterio15" class="form-control layout_txt" disabled>2-Em situações excepcionais ou de pico busca agilizar/priorizar os trabalhos de forma a alcançar os objetivos do departamento.</textarea>
        </div>
        <div class="col-2"><select name="pt_criterio15" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>

    <div class="row">
        <div class="col-10"><input name="txt_criterio16" class="form-control layout_txt" value="3-Faz atividades corretamente, com qualidade técnica e estética, evitando o
retrabalho." disabled>
        </div>
        <div class="col-2"><select name="pt_criterio16" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>

    <div class="row">
        <div class="col-10"><textarea rows="2" name="txt_criterio17" class="form-control layout_txt" disabled>4-Domina as tecnologias\equipamentos\máquinas necessárias ao desempenho de suas atribuições, contribuindo para o aumento da capacidade produtiva.</textarea>
        </div>
        <div class="col-2"><select name="pt_criterio17" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>

        <div class="row">
            <div class="col-10"><textarea name="txt_criterio18" class="form-control layout_txt" disabled>
5-Utiliza de forma racional o tempo e o material disponível, cumprindo os prazos que lhe são dados para a execução dos trabalhos
            </textarea>
        </div>
        <div class="col-2"><select name="pt_criterio18" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>

    <h4>5. Responsabilidade</h4>
    <div class="row">
        <div class="col-10"><input name="txt_criterio19" class="form-control layout_txt" value="1-Realiza atividades/tarefas evitando a ocorrência de erros/falhas e os corrige
ao detectá-los, respeitando suas atribuições legais."  disabled>
        </div>
        <div class="col-2"><select name="pt_criterio19" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>


    <div class="row">
        <div class="col-10"><textarea rows="2" name="txt_criterio20" class="form-control layout_txt" disabled>2-Inspira confiança, demonstrando honestidade, integridade e imparcialidade na realização de suas atribuições e no relacionamento com as pessoas no ambiente de trabalho.</textarea>
        </div>
        <div class="col-2"><select name="pt_criterio20" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>

    <div class="row">
        <div class="col-10"><textarea rows="2" name="txt_criterio21" class="form-control layout_txt" disabled>3-Mostra-se comprometido e empenhado com o trabalho que lhe é designado. Cumpre com acordos, compromissos e obrigações que lhes são
pertinentes</textarea>
        </div>
        <div class="col-2"><select name="pt_criterio21" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>

    <div class="row">
        <div class="col-10"><textarea rows="2" name="txt_criterio22" class="form-control layout_txt" disabled>4-Zela pelo patrimônio da Instituição. Usa racional e adequadamente os materiais (consumo) e equipamentos de trabalho, evitando desperdícios e gastos desnecessários, além de zelar em suas atividades pela segurança sua e de outros</textarea>
        </div>
        <div class="col-2"><select name="pt_criterio22" class="form-select layout_pt" value="">
            <option value="-">Selecione...</option>
            <option value="49">Insuficiente / Ruim</option>
            <option value="64">Regular</option>
            <option value="85">Bom</option>
            <option value="100">Excelente</option>
        </select></div>
    </div>



    <div class="form-control">
        <input type="submit" class="btn btn-lg btn-success" value="Cadastrar"/>
    </div>


</form>
{% endblock %}
<script>


</script>

