{% extends 'layout_base.html' %}

{% block title %}
Funcionário para Avaliação
{% endblock %}


{% block content %}

<style xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    .layout_txt, .form-control:disabled, .form-control[readonly]{
       background:#fbfcff;
    }




</style>

<section class="vh-100">
    <div class="container-fluid">
        <div class="row d-flex justify-content h-100">
            <div class="col-8">
                {% if msg %}
                <div class="alert alert-warning">
                    {{msg}}
                </div>
                {% endif %}

                <div class="alert alert-secondary">
                    <strong>Avaliador:</strong> {{usuario.profile.funcionario.nome}}<br/>
                    <strong>Departamento:</strong> {{usuario.profile.funcionario.depto}}<br/>
                    <strong>Grupo avaliado:</strong> {{usuario.profile.funcionario.grupo_avaliacao}}<br>
                    <strong>Tipo de avaliação: </strong>{{usuario.profile.tipo}}{% if usuario.profile.tipo == 'Colega'%} / Própria{%endif%}
 </div>


                <h4 class="mt-5 mb-4">Servidores para Avaliação: {{funcionarios|length }}</h4>
                <table class="table table">
                    {% for funcionario in funcionarios %}
                    <tr>
                        <td>
                            {{funcionario}}
                            {%if funcionario.id == usuario.profile.funcionario.id %}
                            <span class="destaque-red">(Auto Avaliação)</span>
                            {%endif%}
                        </td>

                        <td>
                            {%if funcionario.ativo %}

                            <a href="{% url 'detalhes_avaliado' funcionario.id %}" class="btn btn-primary"><i class="fas fa-search"></i>&nbsp; Detalhes</a>{%endif%}

                            {%if funcionario.ativo == False %}
                            <a href="{% url 'cad_avaliacao' funcionario.id %}" class="btn btn-primary">Retomar
                                avaliação</a>{%endif%}

                        </td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
            <div class="col-4 alert-success p-3">
                <h4 class="alert-heading">Instruções</h4>
                <p>
                <ol>

                    <li>Clique em "detalhes" para selecionar um funcionário</li>
                    <li>Verifique se o mesmo ainda não foi avaliado e clique em avaliar</li>
                    <li>Preencher o formulário e imprimir</li>
                    <li>Responder as duas questões no final e assinar</li>
                    <li>Entregar pra a Comissão de Avalicação</li>
                </ol>
            </div>
        </div>

    </div>

</section>

{% endblock %}
<script>


</script>

