{% extends 'layout_base.html' %}

{% block title %}
Funcionário para Avaliação
{% endblock %}
{% block header %}

Funcionário para Avaliação
{% endblock %}

{% block content %}

<style xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    body, .layout_txt, .form-control:disabled, .form-control[readonly]{
       background:#fbfcff;
    }



</style>

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content align-items-center h-100">
            {% if msg %}
            <div class="alert alert-warning">
                {{msg}}
            </div>
            {% endif %}
            {% if usuario.tipo == 'Colega' %}
            <div class="alert alert-info">
                <h5>{{usuario.nome}}</h5>você tem duas avaliações para realizar.<br> A primeira é sua auto-avaliação.
                A segunda é refente ao desempenho de um colega.
            </div>
            {% endif %}
            {% if usuario.tipo == 'Chefe'%}
            <div class="alert alert-warning">
                <h5>{{usuario.nome}}</h5>Você tem avaliações para realizar.<br> Ao final de cada uma delas, você deve imprimir o formulário e assinar.
            </div>
            {% endif %}
            {% if usuario.tipo == 'Comissão'%}
            <div class="alert alert-warning">
                <h5>{{usuario.nome}}</h5>Você tem avaliações para realizar.<br> Ao final de cada uma delas, você deve imprimir o formulário e assinar.
            </div>
            {% endif %}
            <table class="table table-striped">
                {% for funcionario in funcionarios %}
                <tr>
                    <td>
                        {{funcionario}}</td>

                    <td>
                    {%if funcionario.ativo %}<a href="{% url 'cad_avaliacao' funcionario.id %}" class="btn btn-primary">Avaliar</a>{%endif%}
                        {%if funcionario.ativo == False %}
                            {% if usuario.tipo == 'Comissão' %}<a href="{% url 'ativar_avaliacao' funcionario.id %}" class="btn btn-primary">Retomar avaliação</a>
                        {% endif%}
                    {%endif%}

                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>

</section>

{% endblock %}
<script>


</script>

